@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-opacity-10 {
  background-color: rgba(
    254,
    153,
    0,
    0.1
  ); /* Use the desired color and opacity */
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px !important;
}

.carousel-indicators [data-coreui-target] {
  width: 34px !important;
  height: 8px !important;
  border: 0px solid white !important;
  border-radius: 16px !important;
}

.carousel-dark .carousel-indicators [data-coreui-target] {
  background-color: #fe9900 !important;
}

.carousel-indicators .active {
  opacity: 1;
}
